{% extends 'base.html' %}

{% from 'books/macros.html' import render_book_form %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" />
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
{% endblock %}

{% block content %}
{{ render_book_form(action_category, genres, current_user, book)}}
<script>
    const easymde = new EasyMDE({
        element: document.getElementById('short_desc'),
    });
</script>
{% endblock %}