{% extends 'base.html' %}

<!-- Импортируем макро для отображения рецензии -->
{% from 'reviews/macros.html' import review_view %}

{% block content %}
<div class="title-area position-relative" style="background-image: url({{ book.image.url }});">
    <div class="h-100 w-100 py-5 d-flex text-center position-absolute" style="background-color: rgba(0, 0, 0, 0.65);">
        <div class="m-auto">
            <h1 class="title mb-3 font-weight-bold">{{ book.name }}</h1>
            <p class="mb-3 mx-auto">
                <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span>
            </p>
            {% if book.genres %}
            <h3>жанр(ы):{% for genre in book.genres %} 
                {% if loop.last %}
                {{genre.name}}.
                {% else %}
                {{genre.name}};
                {% endif %}
                {% endfor %}</h3>
            {% endif %}
            <div>
                <h3>Автор: {{book.author}}</h3>
            </div>
            <div>
                <h3>Издательство: {{book.publisher}}</h3>
            </div>
            <div>
                <h3>Год выпуска: {{book.year_release}}</h3>
            </div>
            <div>
                <h3>Объем (в страницах): {{book.pages_volume}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <section class="book_short_desc mb-5">
        <h2 class="mb-3 text-center text-uppercase font-weight-bold">О книге</h2>
        <p>{{ book.short_desc | safe() }}</p>
    </section>
</div>

<section class="reviews mb-5">
    <h2 class="mb-3 text-center text-uppercase font-weight-bold">Рецензии</h2>
    {% if reviews %}
    {% for review in reviews %}
    {{ review_view(review)}}
    {% endfor %}
    {% endif %}
</section>
<section class="current-user-review mb-5">
    {% if user_review %}
    <h3 class="mb-3 text-center text-uppercase font-weight-bold">Ваша рецензия</h3>
    {{ review_view(user_review) }}
    {% elif current_user.is_authenticated %}
    <div class="container text-center">
        <a class="custom_link text-black btn btn-primary" href="{{url_for('reviews.new', book_id=book.id)}}">Написать
            рецензию</a>
    </div>
    {% endif %}
</section>

{% endblock %}