.link {
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
}

.book-logo {
    min-width: 150px;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-area {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.5rem;
    min-height: calc(65vh);
}

